    <!-- <a
      clrVerticalNavLink
      routerLinkActive="active"
      routerLink="/app/statistiques"
    >
      <clr-icon shape="pie-chart" clrVerticalNavIcon></clr-icon>
      <span class="sib_items">Statistiques</span>
    </a> -->

    <ng-container *ngIf="client">
    <a
      class="nav-link ng-star-inserted"
      clrVerticalNavLink
      routerLink="/app/dashbord"
      routerLinkActive="active"
    >
      <clr-icon
        clrverticalnavicon
        role="none"
        shape="home"
        size="20"
      ></clr-icon>
      <span class="nav-text"> TABLEAU DE BORD </span>
    </a>

    <a
    class="nav-link ng-star-inserted"
    clrVerticalNavLink
    routerLink="/app/mes-parkings"
    routerLinkActive="active"
  >
    <clr-icon
      clrverticalnavicon
      role="none"
      shape="bars"
      size="20"
    ></clr-icon>
    <span class="nav-text"> MES PARKINKS</span>
  </a>

    <a
      class="nav-link ng-star-inserted"
      clrVerticalNavLink
      routerLink="/app/mes-agents"
      routerLinkActive="active"
    >
      <clr-icon
        clrverticalnavicon
        role="none"
        shape="assign-user"
        size="20"
      ></clr-icon>
      <span class="nav-text"> MES AGENTS</span>
    </a>

    <a
      class="nav-link ng-star-inserted"
      clrVerticalNavLink
      routerLink="/app/mes-transactions"
      routerLinkActive="active"
    >
      <clr-icon
        clrverticalnavicon
        role="none"
        shape="file-group"
        size="20"
      ></clr-icon>
      <span class="nav-text">MES TRASACTIONS</span>
    </a>
  </ng-container>

    <clr-vertical-nav-group routerLinkActive="active" *ngIf="permission">
      <clr-icon
        shape="file-settings"
        size="20"
        role="none"
        clrverticalnavicon
      ></clr-icon>
      MAIRIE

      <clr-vertical-nav-group-children>
        <a
          clrVerticalNavLink
          routerLink="/app/entreprises"
          routerLinkActive="active"
        >
          <clr-icon shape="container-volume" size="15"></clr-icon>
          ENTREPRISES/UTILISATEURS
        </a>
        <a
          clrVerticalNavLink
          routerLink="/app/parkings"
          routerLinkActive="active"
        >
          <clr-icon shape="drag-handle-corner" size="15"></clr-icon>
          PARKINGS
        </a>
        <a
          clrVerticalNavLink
          routerLink="/app/affectations"
          routerLinkActive="active"
        >
          <clr-icon shape="assign-user" class="has-badge-info" size="15"></clr-icon>
          AFFECTAIONS
        </a>

        <a
          clrVerticalNavLink
          routerLink="/app/clients"
          routerLinkActive="active"
        >
          <clr-icon shape="copy-to-clipboard" class="has-badge-info" size="15"></clr-icon>
          CLIENTS
        </a>

        <a
        clrVerticalNavLink
        routerLink="/app/transactions"
        routerLinkActive="active"
      >
        <clr-icon shape="success-standard" class="has-badge-info" size="15"></clr-icon>
        TRANSACTIONS
      </a>
       
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
  