<div class="app-page-header clr-row">
    <div class="clr-col-sm-12">
      <div class="page-title">
        <div class="card-header">
          <h2>MES TRANSACTIONS</h2>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page Content -->

  
  <div class="clr-col-12">
    <clr-datagrid>
      <clr-dg-action-bar>
        <button type="button" class="btn" (click)="getData()">
          <clr-icon shape="sync" size="25"></clr-icon>
          Actualiser
        </button>
  
        <button
          *ngIf="cancel"
          type="button"
          class="btn btn-danger"
          (click)="onCanselAction()"
        >
          <clr-icon shape="times" size="25"></clr-icon>
          Annuler
        </button>
      </clr-dg-action-bar>
  
      <clr-dg-column id="lib">Référence</clr-dg-column>
      <clr-dg-column [clrDgField]="'code'" id="lib">Code</clr-dg-column>
  
      <clr-dg-column [clrDgField]="'client.prix'" id="lib">
        Prix
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'num_plaque'" id="lib">
        N° Plaque
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'date'" id="lib">
       date
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'agent.nom'" id="lib">
        Agent
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'agent.parking.nom'" id="lib">
        Parking
      </clr-dg-column>
  
      <clr-dg-row
        *clrDgItems="let transaction of transactions"
        [clrDgItem]="transaction"
      >
        <clr-dg-action-overflow>
          <!-- <button
            class="btn btn-link btn-block btn-sm"
            (click)="onEditAction(transaction)"
          >
            <clr-icon shape="pencil" class="is-solid"></clr-icon>
            Modifier
          </button> -->
  
          
        </clr-dg-action-overflow>
        <clr-dg-cell>N°{{ transaction.id }}</clr-dg-cell>
        <clr-dg-cell>{{ transaction.code }}</clr-dg-cell>
        <clr-dg-cell>{{ transaction.client.prix }}</clr-dg-cell>
        <clr-dg-cell>{{ transaction.num_plaque }}</clr-dg-cell>
        <clr-dg-cell>{{ transaction.date }}</clr-dg-cell>
        <clr-dg-cell>{{ transaction.agent.nom }} {{ transaction.agent.prenoms }}</clr-dg-cell> 
        <clr-dg-cell>{{ transaction.agent.parking.nom }}</clr-dg-cell> 
      </clr-dg-row>
      <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>Details Transaction</clr-dg-detail-header>
        <clr-dg-detail-body>
          <p>Aucun detail</p>
        </clr-dg-detail-body>
      </clr-dg-detail>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
            
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} ..
          {{ pagination.totalItems }} 
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  
    <div class="load" *ngIf="sniper">
      <clr-spinner [clrMedium]="true"></clr-spinner>
    </div>
  </div>
  