
.modal-body {
  padding: 0rem 1rem !important;
}

.modal-dialog .modal-content {
  padding: 0 !important;
}

.modal-footer, .modal-header, .modal-header--accessible {
padding: 1.2rem 1.2rem 1.2rem 1.2rem !important;
}

.modal-title span.title-desc {
  font-size: 14px !important;
}
