<div class="app-page-header clr-row">
  <div class="clr-col-sm-12">
    <div class="page-title">
      <div class="card-header">
        <h2>Paramètres de compte</h2>
      </div>
    </div>
  </div>
</div>
<br />

<div class="table-row">
  <div class="clr-col-sm-12">
    <table class="table table-vertical">
      <!-- <caption>
    Profil table
  </caption> -->
      <tbody>
        <tr>
          <th>Nom</th>
          <td>HOUNKPATI</td>
        </tr>
        <tr>
          <th>Prénom(s)</th>
          <td>Guillaume</td>
        </tr>
        <tr>
          <th>Nom d'utilisateur</th>
          <td>super@gmail.com</td>
        </tr>
        <tr>
          <th>Mot de passe</th>
          <td>12345678</td>
          <td><clr-icon shape="pencil" class="is-solid"></clr-icon></td>
        </tr>
        <tr>
          <th>Adresse Mail</th>
          <td>hounkpatiiguillaume@gmail.com</td>
        </tr>
        <tr>
          <th>Numéro de téléphone</th>
          <td>92313341</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
