.dark-mode{
  &.main-container{
    background: var(--dark-main-bg-color);
    color: var(--dark-main-font-color);
  }
  .header .branding .app-logo {
    color: var(--dark-app-name-color);
  }
  .clr-vertical-nav,.clr-wizard .clr-wizard-stepnav-wrapper{
    background: var(--dark-vertical-nav-bg-color);
  }

  .clr-vertical-nav.has-nav-groups .nav-link, .clr-vertical-nav.has-nav-groups .nav-group .nav-group-text, .clr-vertical-nav.has-nav-groups .nav-group .nav-group-trigger {
    color: var(--dark-main-nav-link-color);
  }
  .clr-vertical-nav .nav-group.active:not(.is-expanded) .nav-group-content,
  .clr-vertical-nav .nav-link.active{
    background-color: var(--dark-vertical-nav-bg-color);
    &:hover{
      background-color: var(--dark-main-nav-bg-color);
    }
  }
  .clr-vertical-nav .nav-link:hover {
    background-color: var(--dark-close-color--normal);
  }
  .clr-vertical-nav .nav-group.active:not(.is-expanded) .nav-group-content .nav-icon{
    fill: var(--dark-close-color--normal);
  }
  .clr-vertical-nav .nav-group-content:hover{
    background-color: var(--dark-vertical-nav-hover-bg-color);
  }

  .clr-vertical-nav .nav-link.active .nav-icon{
    background-color: #efefef;
  }
  .header{
    background-color: #1f1f1f;
  }

  .card{
    background-color: var(--dark-card-bg-color);
    .card-header{
      background-color: #292929;
      color: #999;
    }
    .card-title{
      color: var(--dark-main-font-color);
    }

    &.waiting-block {
      border-top-color: #404040;
    }
    &.validated-block {
      border-top-color:#f5c751;
    }

    &.rejected-block {
      border-top-color: #b65d5d;
    }

    .clr-control-label {
      color: #d8d8d8;
    }
  }
  .app-page-header{
    .card{
      background: transparent;
    }
    .card-header {
      background: transparent;
    }
  }

  h1, h2, h3, h4, h5, h6{
    color:#b1b1b1;
  }

  clr-tabs ul.nav{
    background: #292929;
  }
  .btn.btn-primary, .btn-primary .btn,
  .btn.btn-outline,
  .btn.btn-outline .btn,
  .btn.btn-info-outline,
  .btn-info-outline .btn,
  .btn.btn-outline-info,
  .btn-outline .btn, .btn.btn-secondary, .btn.btn-info, .btn.btn-outline, .btn.btn-primary-outline, .btn.btn-secondary-outline, .btn.btn-outline-primary, .btn.btn-outline-secondary, .btn.btn-info-outline, .btn-secondary .btn, .btn-info .btn, .btn-outline .btn, .btn-primary-outline .btn, .btn-secondary-outline .btn, .btn-outline-primary .btn, .btn-outline-secondary .btn, .btn-info-outline .btn, .btn-outline-info .btn {
    border-color: #3b3b3c;
    color: #b1b1b1;
    background-color: #2b2b2b;
    &:hover{
      background: #000;
    }
  }
  .btn.btn-outline-primary, .btn-outline-primary .btn {
    border-color: #3b3b3c;
    color: #b1b1b1;
  }

  .btn.btn-link, .btn-link .btn {
    color: #b1b1b1;
  }
  .btn.btn-app, .btn-app .btn {
    border-color: #b1b1b1;
    color: #b1b1b1;
    &:hover{
      background: #000;
    }
  }

  .ng-select .ng-select-container {
    background: #777777!important;
    border-bottom-color: #b3b3b3;
    color: #ffffff;
  }

  .clr-accordion-panel-open .clr-accordion-header{
    background: #777;
    border-color: #757575;
  }

  .clr-accordion-content{
    background-color: var(--dark-card-bg-color);
    border: none;
  }

  label.clr-control-label {
    color: #d2d4d3;
  }

  clr-accordion-title.clr-accordion-title {
    color: #d8d8d8;
  }

  .table th {
    background-color: #000;
  }

  .modal-dialog {
    .modal-content {
      background: #292929;
    }

    span.modal-title-text {
        color: #9c9c9c;
    }
  }

  .list-row {
    box-shadow: -3px 1px 1px 1px #333;
    &:nth-of-type(even) {background: #585858;}
  }

  .clr-input-wrapper .clr-input:disabled {
    background: #585858;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-color: rgb(72, 72, 72);
    -webkit-text-fill-color: rgb(171, 171, 171);
    -webkit-box-shadow: 0 0 0px 1000px rgb(9, 9, 9) inset;
  }

  .clr-input {
    color: #fff;
  }

  &.login-wrapper{
    background-position: 0;

    .login:after {
      background: transparent;
    }

    .login-overlay {
      background: #111;
    }

    form.login.clr-form {
      background: transparent;
    }

    form .login-group {
      background: var(--dark-vertical-nav-bg-color);
    }

    .login .title .hint {
      color: #d8d8d8;
    }

    .module-name {
      color: rgb(232, 232, 232);
    }
  }
}

