<div class="app-page-header clr-row">
  <div class="clr-col-sm-12">
    <div class="page-title">
      <div class="card-header">
        <h2>Gestion des Parkings</h2>
      </div>
    </div>
  </div>
</div>

<br />

<!-- Page Content -->

<div class="clr-col-12 backform"></div>
<div class="clr-col-12">
  <div class="clr-row">
    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          PARKINGS
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="install" size="50"></clr-icon>
            <div class="clr-col-9">Gérer vos parking</div>
          </div>
          <div class="card-text"></div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-outline-primary">
            <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
            Parcourir
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          AGENTS
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon
              class="clr-col-3"
              shape="folder-open"
              size="50"
            ></clr-icon>
            <div class="clr-col-9">
                Gérer vos Agents
            </div>
          </div>
          <div class="card-text"></div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-outline-primary">
            <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
            Parcourir
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          TRANSACTIONS
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="file-group" size="50"></clr-icon>
            <div class="clr-col-9">Accédez a vos Transactions</div>
          </div>
          <div class="card-text"></div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-outline-primary">
            <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
            Parcourir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



