/* #ligne1 {
  font-weight: 500;
  color: #35ac3b;
}
#ligne2 {
  font-weight: 500;
  color: #8c2121;
} */
#card-title {
  font-weight: 400;
  color: #0065b3;
}
.card {
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
/* #myBtn {
  background-color: #99bbd8;
  border: 0px;
  color: #fff;
  transition: 0.4s ease-in;
}
#myBtn:hover{
  background-color: #fff;
  border: 1px solid #1E88E5;
  color: #1E88E5;
} */

/* Float four columns side by side */
/* .column_stack {
  float: left;
  width: 25%;

  padding: 5px 10px;
  cursor: pointer;
} */

/* Remove extra left and right margins, due to padding */
/* .grid-stack {
  margin: 0 -5px;
} */

/* Clear floats after the columns */
/* .grid-stack:after {
  content: "";
  display: table;
  clear: both;
} */

/* Style the counter cards */
/* .card_stack {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  position: relative;
} */
/* Style the counter cards backgroud */
/* #dashboard1 {
  background-color: #aaddac;
  color: #358639;
}
#dashboard1:hover {
  background-color: #73c777;
}

#dashboard2 {
  background-color: #e69393;
  color: #8c2121;
}
#dashboard2:hover {
  background-color: #d85555;
}

#dashboard3 {
  background-color: #bfe7ea;
  color: #379fa6;
}
#dashboard3:hover {
  background-color: #a0bbd4;
}

#dashboard4 {
  background-color: #b4b4b4;
  color: #4e4e4e;
}
#dashboard4:hover {
  background-color: #8d8d8d;
}

.column_stack .card_stack .format {
  display: flex;
  font-size: 40px;
}

.column_stack .card_stack .title {
  font-size: 25px;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
} */
#stat {
  flex: 1 1 100px;
  float: left;
  display: grid;
}