.card.big-card {
  border: 1px groove;
  min-height: 20px;
}

.card-footer button:hover {
  letter-spacing: 0.1rem;
  transition: all 0.4s;
  color: rgb(255, 255, 255);
  background-color: #0f458d;
}
